[submodule "vendors/backbone"]
	path = vendors/backbone
	url = https://github.com/documentcloud/backbone.git
[submodule "vendors/underscore"]
	path = vendors/underscore
	url = https://github.com/documentcloud/underscore.git
